

@media screen and (min-width:768px){

    .container{
        max-width:1350px;
        margin:8px auto;
    }

    header{
        padding:18px 28px;
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .menu{
        display:none;
    }

    nav{
        display:flex;
        justify-content:center;
        width:100%;
    }


    nav ul{
        display:flex;
        flex-direction:row;
        list-style:none;
        gap:40px;
    }


    nav a{
        color:#fff;
        font-size:1.1rem;
        padding:.5rem;
        transition:.3s;
    }

    nav a:hover{
        background:#E6B566;
        color:#000;
        border-radius:5px;
    }

    main{
        padding:30px 65px;
    }

    .galeria{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
        gap:40px;
    }

    footer{
        margin-top:40px;
        background:#4B136F;
        color:#fff;
        text-align:center;
        padding:12px;
        font-size:.85rem;
        line-height:1.6;
    }

}
